@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  background-color: white;
}

.brand-btn {
  box-sizing: border-box !important;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 20px;
  background-color: #007fff !important;
  color: #f9f9f9 !important;
  border: none;
  outline: #007fff;
  box-shadow: 1px 1px 1px #007fff;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 20px;
}

.brand-btn-danger {
  text-align: center;
  font-size: 20px;
  background-color: red !important;
  color: #f9f9f9 !important;
  border: none;
  outline: red;
  box-shadow: 1px 1px 1px red;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 20px;
}

.pizza-card {
  width: 500px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  outline: none;
  border: 1px solid #dddcdc;
  border-radius: 10px;
  height: 500px;
  cursor: pointer;
}
.pizza-card .card-actions {
  margin-top: 100px !important;
  position: relative !important;
  bottom: 10px;
}

.account-card {
  width: 800px;
  height: 700px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 1px solid #007fff;
  padding: 30px;
}

.pizza-card:hover {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}

.font-18 {
  font-size: 18px !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.overlay {
  color: #f9f9f9;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  transition: all 1s;
  /* Add a pointer on hover */
}

.overlay-content {
  padding: 2em;
  align-self: center;
  margin: 10px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #dddcdc;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  width: 700px;
  height: 80% !important;
  background-color: #f9f9f9;
  color: black;
}
.overlay-content button {
  background: none;
  outline: none;
  border: none;
}
.overlay-content button :hover {
  background: #000;
  border: none;
  border-radius: 30px;
}

.brand-btn:focus {
  transform: translateY(10px);
}

.brand-select {
  outline: none;
  border: none;
  font-size: 18px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.brand-input {
  box-sizing: border-box;
  padding: 10px 20px;
  border: 1px solid #007fff;
  border-radius: 10px;
  font-size: 20px;
}
.brand-input:focus {
  outline: none;
}

.brand-input-error {
  padding: 10px 20px;
  border: 1px solid red;
  border-radius: 10px;
  font-size: 20px;
}

.brand-input:focus {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid #007fff;
  outline: none;
  border-radius: 10px;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-25 {
  width: 25% !important;
}

.separation-line ::before {
  content: "";
  border-top: 1px solid #dddcdc;
}

.font-36 {
  font-size: 36px !important;
}

.overlay-description {
  padding: 20px;
  font-size: 24px;
}

.navbar {
  height: 100px;
}

.order-confirmation-dialog {
  height: 600px;
  width: 600px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
  border: 1px solid #007fff;
  border-radius: 10px;
}

.text-red {
  color: red !important;
}

.order-item {
  position: relative;
  width: 600px;
  height: 200px;
  background-color: #f9f9f9;
  border: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #53535a;
  width: 50px;
  height: 50px;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.font-800 {
  font-weight: 800 !important;
}

.font-48 {
  font-size: 48px !important;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.text-brand {
  color: #007fff !important;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  padding: 0 1rem;
  align-items: center;
  border: 1px solid #e5e5e5;
}
.navbar .brand-btn {
  width: 100px;
  right: 0;
  margin: 0.7em 1em 0 0;
}
.navbar .cart-icon-link {
  margin: 1em 1em 0 auto;
}
.navbar .cart-icon-link .cart-icon {
  width: 30px;
  height: 30px;
  fill: black;
}
.navbar .user-info-nav {
  right: 0;
  margin: 0.7em 4em 0 1em;
  cursor: pointer;
  transition: all 1s ease;
}
.navbar .user-info-nav .dropdown-menu {
  position: absolute;
  background-color: white;
  z-index: 9999;
  width: 120px;
  border: 1px solid #007fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 1s ease;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 20px;
}
.navbar .user-info-nav .dropdown-menu a {
  transition: all 1s ease;
  text-decoration: none;
  color: black;
}

.nav-menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.nav-logo {
  font-weight: 800;
  font-size: 48px;
  color: black;
}

.nav-link {
  color: #007fff !important;
  font-size: 24px;
  margin: 0 1em;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 5px;
  margin: 5px auto;
  background: #9a9696;
  transition: all 0.5s ease;
}

.landing-page-container {
  padding: 2em 0;
  width: 100vw;
  display: grid;
  grid-template-columns: 2fr 4fr;
}
.landing-page-container .hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing-page-container .hero-text h1 {
  margin-top: 4em;
  margin-bottom: 0;
}
.landing-page-container .hero-text p {
  font-weight: 600;
  margin: 0 3em 1em 3em;
}
.landing-page-container .hero-text .brand-btn {
  width: 100px !important;
}
.landing-page-container img {
  margin: 0.7em 1em 0 auto;
  width: 1200px;
}

.menu-container {
  padding: 2em;
}
.menu-container .search-box-home {
  float: right;
  width: 500px;
  display: flex;
}
.menu-container .search-box-home .brand-input {
  width: 90%;
}
.menu-container .search-box-home img {
  position: relative;
  right: 3em;
  margin-top: 7px;
  height: 30px;
  width: 30px;
  fill: #e5e5e5;
  fill-opacity: 0.3;
}
.menu-container .menu-item-card {
  margin: 4em auto;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
}
.menu-container .menu-item-card .pizza-card {
  margin: 1em 0;
}
.menu-container .menu-item-card .pizza-card img {
  width: 100%;
  height: 250px;
}
.menu-container .menu-item-card .pizza-card .pizza-information {
  padding: 0 1em;
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.menu-container .menu-item-card .pizza-card .pizza-information .pizza-name-desc .pizza-name-header {
  margin-bottom: 0;
  display: block;
}
.menu-container .menu-item-card .pizza-card .pizza-information .pizza-name-desc p {
  margin-top: 0;
}
.menu-container .menu-item-card .pizza-card .pizza-information .pizza-price {
  display: flex;
  font-size: 18px;
  margin: 1em 0.5em 0 auto;
}
.menu-container .menu-item-card .pizza-card .pizza-information .pizza-price img {
  margin-top: 0.3em;
  margin-right: 0.5em;
  height: 1em;
  width: 1em;
}

.modal-window > div .modal-container {
  margin: 2em 0;
}
.modal-window > div .modal-container .current-price {
  text-align: center;
  font-size: 24px;
}
.modal-window > div .modal-container img {
  width: 100%;
}
.modal-window > div .modal-container .select-container {
  display: flex;
  justify-content: space-between;
}

.signin-container {
  width: 100vw;
  height: 100vh;
}
.signin-container .signin-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.signin-container .signin-wrapper .signin-image {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.signin-container .signin-wrapper .signin-image img {
  object-fit: contain;
  width: 987px;
}
.signin-container .signin-wrapper .signin-form-wrapper {
  margin-right: 2em;
  padding: 3em;
}
.signin-container .signin-wrapper .signin-form-wrapper h1 {
  display: flex;
  width: 700px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.signin-container .signin-wrapper .signin-form-wrapper .signin-card {
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  padding: 3em;
  width: 650px;
  height: 700px;
}
.signin-container .signin-wrapper .signin-form-wrapper .signin-card h4 {
  text-align: center;
  font-weight: normal;
  font-size: 30px;
}
.signin-container .signin-wrapper .signin-form-wrapper .signin-card .signin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signin-container .signin-wrapper .signin-form-wrapper .signin-card .signin-form .brand-btn {
  text-align: center;
  margin-left: 2em;
  width: 50%;
}
.signin-container .signin-wrapper .signin-form-wrapper .signin-card .signin-form .signin-field {
  display: flex;
  align-items: center;
  margin: 1em 1.5em;
}
.signin-container .signin-wrapper .signin-form-wrapper .signin-card .signin-form .signin-field .brand-btn {
  margin: 0 !important;
  width: 100% !important;
}
.signin-container .signin-wrapper .signin-form-wrapper .signin-card .signin-form .signin-field .text-red {
  text-align: center;
  margin: 1em 0;
}
.signin-container .signin-wrapper .signin-form-wrapper .signin-card .signin-form .signin-field input[type=text] {
  width: 100%;
}
.signin-container .signin-wrapper .signin-form-wrapper .signin-card .signin-form .signin-field input[type=password] {
  width: 100%;
}

.sidebar-container {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 102px);
  border-right: 1px solid #e5e5e5;
  width: 300px;
  padding: 0 1em;
}
.sidebar-container .sidebar-link {
  text-decoration: none;
  color: black;
  margin: 2em 0 0 0;
  font-size: 24px;
  cursor: pointer;
}
.sidebar-container .sidebar-link.active {
  transition: all 0.1s ease;
  padding: 0.5em;
  border-radius: 10px;
  background: #007fff;
  color: #f9f9f9;
}

.account-component-container {
  display: grid;
  grid-template-columns: 1fr 6fr;
}
.account-component-container .brand-select {
  display: none;
}
.account-component-container .settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account-component-container .settings-container .loader {
  position: relative;
  top: 0;
  width: 25px;
  height: 25px;
  border: 2px solid #f3f3f3;
  border-top: 2px solid #53535a;
}
.account-component-container .settings-container .profile-picture-container {
  margin-top: 50px;
  margin-bottom: 50px;
}
.account-component-container .settings-container .profile-picture-container .file-input {
  display: none;
}
.account-component-container .settings-container .settings-form-container {
  display: grid;
  grid-template-columns: 1fr min-content;
}
.account-component-container .settings-container .settings-form-container input {
  margin: 1em 1.5em;
  width: 500px;
}
.account-component-container .settings-container .settings-form-container button {
  align-self: center;
  margin: 1em 1.5em;
  width: 190%;
  box-sizing: border-box;
  height: 50px;
}
.account-component-container .security-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account-component-container .security-container form {
  width: 500px;
}
.account-component-container .security-container form .text-red {
  margin-top: 0.3em;
}
.account-component-container .security-container form input {
  width: 100%;
  margin-top: 1.5em;
}
.account-component-container .security-container form .brand-btn {
  box-sizing: border-box !important;
  margin-top: 1.5em;
  width: 100%;
}

.orders-container {
  padding: 2em;
}
.orders-container .order-item-container {
  display: flex;
  flex-direction: column;
}
.orders-container .order-item-container .order-card h2 {
  margin: 0;
}
.orders-container .order-item-container .order-card p {
  margin-top: 0;
}
.orders-container .order-item-container .order-card .order-created-time {
  margin: 1em 0;
}

.order-card {
  display: grid;
  grid-template-columns: 4fr 1fr;
  width: 900px;
  height: 150px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  margin: 1em 0;
  padding: 1em 1em;
}
.order-card .order-details-button {
  height: 50px;
  align-self: center;
}

.order-details-container .order-item-info {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin: 0;
}

.empty-cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 102px);
}
.empty-cart-container .font-36 {
  margin-bottom: 0.2em;
}
.empty-cart-container .font-18 {
  text-align: center;
  margin-top: 0;
}

.cart-container {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cart-container .cart-form-container h1 {
  text-align: center;
}
.cart-container .cart-form-container .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cart-container .cart-form-container .form-container input {
  margin: 1em 0;
  width: 50%;
}
.cart-container .cart-form-container .form-container .brand-btn {
  margin-top: 1em;
  width: 50%;
}
.cart-container .cart-form-container .form-container .price-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cart-container .cart-form-container .form-container .price-info .price-info-row {
  align-items: center;
  justify-content: center;
  margin: 1em 0;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cart-container .cart-item-container {
  overflow: auto;
  height: calc(100vh - 300px);
  width: fit-content;
  justify-content: center;
  align-items: center;
}
.cart-container .cart-item-container h1 {
  text-align: center;
}
.cart-container .cart-item-container .cart-item {
  align-self: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 600px;
  background-color: #f0eeee;
  border-radius: 10px;
  padding: 1em 2em;
  border: 1px solid #007fff;
  height: 200px;
  margin: 2em auto;
}
.cart-container .cart-item-container .cart-item .item-image {
  display: flex;
}
.cart-container .cart-item-container .cart-item .item-image img {
  margin-right: 2em;
  display: inline;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.cart-container .cart-item-container .cart-item .item-image .item-info {
  width: 100%;
}
.cart-container .cart-item-container .cart-item .item-image .item-info h3 {
  margin-top: 0.3em;
}
.cart-container .cart-item-container .cart-item .item-image .item-info p {
  font-size: 1em;
}
.cart-container .cart-item-container .cart-item .item-image .item-info p span {
  margin: 0 0.5em 0 0;
}
.cart-container .cart-item-container .cart-item .item-price {
  margin-right: 0.6em;
  justify-self: end;
}
.cart-container .cart-item-container .cart-item .item-price span {
  cursor: pointer;
  margin: 0 0 0 0;
  position: relative;
  bottom: 0;
}

.darkmode-layer {
  display: none;
}

.darkmode-background {
  display: none;
}

body.darkmode--activated {
  background: #1c1c24;
  color: white;
}

.darkmode--activated .darkmode-layer {
  display: none;
}

.darkmode--activated .darkmode-background {
  display: none;
}

.darkmode--activated .pizza-card {
  border-color: #282c34;
}
.darkmode--activated .order-card {
  border-color: #282c34;
}
.darkmode--activated .sidebar-link {
  color: white;
}
.darkmode--activated .brand-select {
  background-color: #1c1c24;
  color: white;
}
.darkmode--activated .modal-close {
  color: white;
}
.darkmode--activated .modal-close:hover {
  color: #aaaaaa;
}
.darkmode--activated .modal-window > div {
  background-color: #1c1c24;
}
.darkmode--activated .navbar {
  border-color: #282c34;
}
.darkmode--activated .navbar .nav-logo {
  color: white;
}
.darkmode--activated .navbar .cart-icon {
  fill: white;
}
.darkmode--activated .sidebar-container {
  border-color: #282c34;
}
.darkmode--activated .react-loading-skeleton {
  background-color: #282c34;
}
.darkmode--activated .cart-item {
  background-color: #1c1c24 !important;
}
.darkmode--activated .dropdown-menu {
  background-color: #1c1c24 !important;
}
.darkmode--activated .dropdown-menu a {
  color: white !important;
}

/*# sourceMappingURL=styles.css.map */
